header > a{
    color: white;
}

main{
    min-height: 90vh;
}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200,300));
    padding: 2rem;

}

.lista{
    max-width: 30rem;
    padding: 3rem;
    border: 1px solid black;

}

.lista p{
    line-break: anywhere;
}

.lista .author,
.lista .date{
    margin: .1rem 0;
    font-size: 1.4rem;
}

.lista .title{
    margin: .5rem 0;
}

.lista .description{
    margin: 1rem 0;
}

.lista .button{
    background-color: var(--light-blue);
    color: white;
    padding: .5rem 1rem;
    text-transform: uppercase;
    margin: 1rem 0;
}

.lista-info, .description, .button{
    margin-bottom: 2rem;
}