@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
}

:root{
    --green: rgb(16, 150, 54);
    --dark-green: rgb(13, 123, 44);
    --dark-blue: #1f3f72;
    --light-blue: #2359af;
    --dark-grey: #111;
    --light-grey: #dddcdc;
    --tangerine: #FB8500;
}

html{
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Raleway', sans-serif;
}


h1{
    font-size: 4.2rem;
}

h2{
    font-size: 3.6rem;
}

h3{
    font-size: 2.8rem;
}
p{
    line-height: 1.5;
}
p,
a,
li,
code,
blockquote{
    font-size: 1.8rem !important;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

nav ul a{
    color: white;
    text-decoration: underline;
}

nav ul a:hover{
    text-decoration-color: var(--tangerine);
}

header{
    display: flex;
    justify-content: space-between;
    padding: 3rem 2rem;
    background-color: var(--dark-blue);
    color: white;
    align-items: center;
}


footer{
    width: 100%;
    background-color: var(--light-grey);
    color: var(--dark-grey);
    text-align: center;
    padding: 2rem 0;
}

footer a{
    color: var(--dark-blue);
}

pre{
    max-width: 60rem;
}


pre[class*=language-]{
    box-shadow: none;
    border: none;
}
code[class*=language-], pre[class*=language-]{
    text-shadow: none;
}
:not(pre)>code[class*=language-], pre[class*=language-]{
    background-color: #373c47;
    border: none;
}