header a{
    color: white;
}

.container{
    padding: 2rem;
}

.container .post-info ul{
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.container .post-info,
.container .content,
.container .questao{
    width: 80%;
    margin: 1.5rem auto;
}
.container .questao pre{
    margin: 1rem auto;
}