---
resetStyle: /css/reset.css
layout: 'base.njk'
---

<div class="container">
    <h1>{{title}}</h1>
    <p>{{author}}</p>
    <p>{{date}}</p>
    <p>{{content}}</p>
</div>

<div class="questao">
    <h1>{{question}}</h1>
    <div>
        {{text}}
    </div>
    <code>
        {{code}}
    </code>
</div>