---
resetStyle: /css/reset.css
layout: 'base.njk'
---

<div class="container">
    <h1>{{title}}</h1>
    <p>{{author}}</p>
    <p>{{date}}</p>
    <p>{{content | safe}}</p>
</div>

{% for questao in questions %}
<div class="questao">
    <p>{{questao.text | safe}}</p>
    
    <pre >
        <code class="language-cpp">
            {{questao.code.code}}
        </code>
    </pre>
</div>
{% endfor %}