header a{
    color: white;
}

main{
    display: grid;
    grid-template-areas: "conteudo conteudo professor estagiario"
                         "conteudo conteudo monitores monitores";
    min-height: 100vh;
}

main> *{
    padding: 2rem;
}

main .content{
    display: flex;
    gap: 1.8rem;
    flex-direction: column;
    grid-area: conteudo;
    background-color: var(--dark-grey);
    color: white;
    
}

main .content h1{
    text-decoration: underline;
    text-decoration-color: var(--green);
}

main nav{
    margin-top: 8rem;
}

main .box{
    margin: 1rem;
}

main .box-1{
    grid-area: professor;
    background-color: var(--dark-green);
}

main .box-1 h3,
.box-1 a, 
.box-1 p{
    color: white;
}

main .box-2{
    grid-area: estagiario;
    background-color: var(--light-grey);
}

main .monitores{
    grid-area: monitores;
    display: flex;
    flex-direction: row;
    padding: 0;
}
.monitores .monitor{
    flex-grow: 1;
    padding: 2rem;
    flex-basis: 15%;
    background-color: var(--light-grey);
}

.slug{
    font-size: 1.6rem;
    padding: .5rem 1rem;
    border: 1px solid var(--dark-grey);
    width: fit-content;
    margin: 1rem 0;
}

.box-1 .slug{
    background-color: var(--dark-grey);
    color: white;
}

h3{
    color: var(--dark-green);
}

div ul{
    margin-top: 1rem;
}


@media screen and (max-width: 1010px){
    .monitores{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px){
    main{
        grid-template-areas: "conteudo professor"
        "conteudo estagiario"
        "conteudo monitores";
    }
}
@media screen and (max-width: 610px){
    main{
        grid-template-areas: "conteudo"
                             "professor"
                             "estagiario"
                             "monitores";
    }

    main .monitores{
        flex-direction: column;
    }
}