---
title: Resolução das Listas  - 
resetStyle: css/reset.css
layout: 'base.njk'
---
<div class="container">
    {%- for lista in collections.listas | reverse %}

    <div class="lista">
        <h1>{{lista.data.title}}</h1>
        <p>Postado por {{lista.data.author}}</p>
        <p>Data: {{lista.data.date | postDate}}</p>
        <p>{{lista.data.description}}</p>
        <a href="{{lista.url}}">Saiba Mais</a>
    </div>

    {%- endfor -%}}
    
</div>

